* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

/* ------------------------------------

  ## TYPOGRAPHY

------------------------------------ */
html {
  color: #222222;
  font-size: 16px; }

body {
  color: #111;
  font: 1rem "Work Sans", sans-serif;
  background: #fff;
  line-height: 1.6em; }

p {
  margin: 0 0 2em 0; }

/* ------------------------------------

  ## GRIDS

------------------------------------ */
@supports not (display: grid) {
  .site {
    max-width: 50em;
    margin: 0 auto; } }
@media screen and (min-width: 600px) {
  @supports (display: grid) {
    .site {
      display: grid;
      grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
      grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto); }

    .site-header,
    .site-footer {
      grid-column: span 8; }

    .site-main {
      grid-column: 2/6; }

    .aside {
      grid-column: 6/8; }

    .map {
      grid-column: 2/5;
      grid-row: 3/4; }

    .twin:last-of-type {
      grid-column: 5/8; } } }
/* ------------------------------------

  ## BUTTONS

------------------------------------ */
.button {
  display: inline-block;
  border-radius: 5px;
  padding: 7px 12px;
  border: 1px solid #D5D5D5;
  background-image: linear-gradient(#EEE, #DDD);
  font: 700 13px/18px Helvetica, arial; }

.button--state-success {
  color: #FFF;
  background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
  border-color: #4A993E; }

.button--state-danger {
  color: #900; }

.button--primary {
  background: #03256c;
  color: #fff; }

.button--secondary {
  background: #2541b2;
  color: #fff; }

/* ------------------------------------

  ## NAVIGATION

------------------------------------ */
#menu-toggle {
  display: none; }

#menu {
  display: none; }

#menu-toggle:checked + #menu {
  display: flex; }

#main-navigation .fas {
  font-size: 30px; }

.nav {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  list-style: none; }
  .nav .nav__item a {
    display: block;
    padding: 1em;
    background: #2541b2;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #021d53; }
    .nav .nav__item a:hover {
      background: #182a73; }
  @media (min-width: 48em) {
    .nav {
      display: flex;
      flex-direction: row; }
      .nav li {
        position: relative;
        text-align: center;
        flex: 1; }
      .nav #toggle {
        display: none; } }

.nav__item {
  flex-grow: 1; }

.nav__link {
  font-size: 1.5rem;
  display: block;
  padding: 1em;
  text-align: center;
  color: #fff; }

/* ------------------------------------

  # SECTIONS

------------------------------------ */
#wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
  justify-content: flex-end; }

#main {
  display: flex;
  min-height: 0;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  width: 100%; }
  #main > .inner {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

#masthead {
  display: flex;
  color: #fff;
  justify-content: space-between;
  position: relative; }

.site-header {
  background: #03256c;
  border-bottom: solid 5px #bf4343;
  padding: 2em; }

#masthead .logo {
  color: inherit;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem; }

#masthead .icons {
  flex: 1;
  padding: 5px;
  margin: 1em; }

ul.icons {
  list-style: none; }

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0; }

ul.icons li .fab {
  color: inherit; }

.fab {
  text-decoration: none;
  border-bottom: none;
  position: relative; }

.fab > .label {
  display: none; }

ul.icons li:last-child {
  padding-right: 0; }

#main > .inner > section:first-type {
  border-top: 0; }

/* #banner {
  display: flex;
    flex-direction: column-reverse;
} */
#banner .content {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 2em 2em; }

ul.actions {
  display: flex;
  padding-left: 0;
  list-style-type: none; }

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle; }

#banner .image {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  margin: 0 0 2em 4em;
  width: 50%; }

.image {
  border-radius: 0.375em;
  border: 0;
  display: inline-block;
  position: relative; }

#banner .image img {
  height: 100%;
  object-fit: cover;
  width: 100%; }

.card {
  max-width: 360px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem; }

pre code {
  background-color: #333;
  font-family: monospace;
  background-color: #333;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  color: white; }

/* ------------------------------------

# HOME PAGE

------------------------------------ */
.video-wrapper {
  position: relative;
  margin: 1em;
  text-align: center; }

.videoWrapper iframe {
  position: absolute;
  top: 0; }

/* ------------------------------------

# CONTACT FORM

------------------------------------ */
form {
  list-style: none; }

input {
  padding: 0.5em; }

label input {
  margin: 1em; }

form input:valid {
  background: #c8c8c8; }

.form-control {
  border: none; }
  .form-control--text {
    color: #111;
    font-weight: bold;
    margin: 5px; }
  .form-control--email {
    color: #111; }
  .form-control--button {
    color: #111;
    list-style: none;
    float: right; }
  .form-control--checkbox {
    color: #111;
    font-size: 1.5rem; }
  .form-control--lname-error {
    color: red;
    display: none;
    padding: 0px; }

/* ------------------------------------

# SIDEBAR

------------------------------------ */
#sidebar {
  /*  display: flex;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: auto;
   flex-direction: column; */
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 1000;
  background: #182a73; }

#sidebar .toggle {
  text-decoration: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 7.5em;
  left: 2em;
  z-index: 10000; }

a {
  color: #bf4343; }

/* ------------------------------------

# FOOTER

------------------------------------ */
.site-footer {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
