/* ------------------------------------

  ## BUTTONS

------------------------------------ */

.btn-primary {
    color: #fff;
    background-color: $primary-color;
	border-color: hsl(208, 56%, 41%);
	display: inline-block;
	border-radius: 5px;
	padding: 7px 12px;
	border: 1px solid #D5D5D5;
	font: 700 13px/18px Helvetica, arial;
	text-transform: uppercase;
}

.button-secondary {
    background: $secondary-color;
    color: $secondary-font-color;
}

.button {
	
}
.button--state-success {
	color: #FFF;
	background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
	border-color: #4A993E;
}
.button--state-danger {
	color: #900;
}

