/* ------------------------------------

  ## GRIDS

------------------------------------ */

// if no grid support, add page width.
@supports not (display: grid) {
    .site {
        max-width: 50em;
        margin: 0 auto;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 34em) {
    @supports (display: grid) {
        .site {
			display: grid;
            
        }
       
        
    }
}

/* Widescreens ----------- */
@media only screen and (min-width : 50em) {
   
}


    

