/* ------------------------------------

  ## NAVIGATION

------------------------------------ */
.navbar {
  margin-bottom: 0;
  text-transform: uppercase;
  
  .navbar .fa {
    font-size: 18px;
  }
}

.breadcrumb {
  .breadcrumb-item a {
    color: #8d9bab;
    text-decoration: none;
  }
  &:hover {
    background: $secondary-color--darker;
  }
}

.collapse.in {
  .navbar-right{
    display:none;
  }
}
