/* ------------------------------------

  # SECTIONS

------------------------------------ */
.site {
  display: flex;
  flex-wrap: wrap;
}
.site-header {
  background: $primary-color;
  width: 100%;
}
.site-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// HEADER
.site-header {
  
  padding: 2em;
  .logo {
    color: #fff;
  }

  
/* 
  a {
    color: inherit;
  }

  
  button {
    background: url('../img/hamburger.svg');
    background-repeat: no-repeat;
    float: right;
  } */
}


// CARDS
.card {
  max-width: 360px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
}

pre code {
  background-color: #333;
  font-family: monospace;
  background-color: #333;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  color: white;
}

/* ------------------------------------

# CONTACT FORM

------------------------------------ */

// Contact us Page
form ol,
form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  // styles for input types
  padding: 0.5em;
}

label input {
  // styles for checkobses and radio controls
  margin: 1em;
}

.form-control {
  $form-color: #ede4e4;
  background-color: $form-color;
  clear: both;

  &--text {
    color: $body-color;
    font-weight: bold;
  }

  &--email {
    color: $body-color;
  }

  &--button {
    color: $body-color;
    list-style: none;
  }

  &--checkbox {
    color: $body-color;
    font-size: $font-size-medium;
  }
}