/* ------------------------------------

  ## TYPOGRAPHY

------------------------------------ */
html {
    color: $primary-font-color;
    font-size: $base-font-size;
}

body {
    color: $body-color;
    font: $body-font-size $body-font-family;
    background: $body-background;
    $base-font-weight: 400;
    line-height: $base-line-height;
}