// global reset styles
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}



img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}


