
/* ------------------------------------

  ## COLOURS

------------------------------------ */
$primary-color: #03256C;
$secondary-color: #2541B2;
$primary-font-color: #222222;
$secondary-font-color: #fff;

